@model int
<a asp-controller="Notifications" asp-action="Index" class="nav-link">
    Thông báo
    <span id="notificationBadge" class="badge rounded-pill bg-danger"
          style="@(Model > 0 ? "" : "display:none;")">@Model</span>
</a>